<h1>Choose Ingredients:</h1> 

<input [(ngModel)]="searchText" 
        id ="ingredientsCheckbox"
        placeholder="search for ingredient"> 

<div class="form-group" *ngIf="ingredients"> 
  <div *ngFor="let ingredient of ingredients | filter : searchText"> 
      <label>
        <input type="checkbox" 
          name="ingredients"
          value="{{ ingredient.name }}"
          [(ngModel)]="ingredient.checked"/>
        {{ ingredient.name }}
      </label>
  </div>
</div> 

<button class="cta" 
  (click)="chooseRecipe()"
  *ngIf="ingredients">Choose a Recipe</button> 